body{
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;

}
span{
  background: url("https://www.pngmagic.com/product_images/free-red-heart-png-vector.png");
  width: 110px;
  height: 100px;
  pointer-events: none;
  position:absolute ;
  background-size: cover;
  left: 50%;
  top: 50%;
 transform: translate(-50%,-50%);
 animation: animation 2s linear;
 
}


@keyframes animation {
  1% {
   transform: translate(-50%,-50%);
   opacity: 1;
   filter: hue-rotate(0deg);
  }
  100%{
     transform: translate(-50%,-2000%);
     opacity: 0;
     filter: hue-rotate(1000deg);
}
}